.buddha {
	margin: 0 auto;
	width: 200px;
	height: 200px;
}
a {
	/*color: #7d3c1b;*/
	color: #005b96;
}
th.headerSortUp {
	background-color: #fe4a49;
}
th.headerSortDown {
	background-color: #fed766;
}
.navbar-brand.custom {
	/*color: #fe4a49;*/
	/*color: #639565;*/
	color: #03396c;
	font-weight: bold;
}
.footer {
	width: 100%;
	bottom: 0;
	clear: both;
}
tr {
	/*line-height: 25px;*/
	min-height: 25px;
	height: 20px;
}
.dropdown-submenu {
	position: relative;
}
.container {
	/* remember to set a width*/
	/*width: 2000px;*/
	width: 100%;
	display: flex;
	margin: auto;
	place-content: center;
	padding-right: revert;
	padding-left: revert;
}
.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}
.dropdown-submenu: hover>.dropdown-menu {
	display: block;
}
.dropdown-submenu>a: after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}
.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}
h1 {
	font-size: 120%;
}
h2 {
	font-size: 300%;
	/*color: #fe4a49;*/
	/*color: #d72621;*/
	color: #011f4b;
	/*font-family: courier, monospace;*/
	font-family: 'Mountains of Christmas', cursive;
}
progress {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: none;
	border-radius: 30px;
	width: 60%;
	height: 80px;
}
progress::-webkit-progress-bar {
	/*background: #fed766;*/
	background: #005b96;
	border-radius: 100px;
}
progress::-webkit-progress-value {
	/*background: #2ab7ca;*/
	background: #b3cde0;
	border-radius: 100px;
}
progress: not([value])::-webkit-progress-bar {
	background: #f9c7c7;
	border-radius: 100px;
}
.prgs {
	display: flex;
	flex-direction: column;
	padding: 10px;
	align-content: center;
	align-items: center;
}
td {
	padding-left: 50px;
	min-width: 50px;
	white-space: nowrap;
}
th {
	padding: 20px;
	/*color: #cd0000;*/
	/*color: #fe4a49;*/
	/*color: #d72621;*/
	color: #011f4b;
	font-family: courier, monospace;
	font-size: 17px;
	text-align: center;
}
.tab-view {
	margin: auto;
}
.tab-wrapper {
	overflow-x: scroll;
}
.fixed {
	position: absolute;
	background: #aaa;
}
#tip {
	position: absolute;
	background-color: #FFFFE6;
	font-size: 12px;
	padding: 3px;
	border: 1px solid #FFCC99;
	width: 500px;
	display: none;
}
