table {
	border-collapse: collapse;
	border: solid 1px #808080;
}
tr.undisplay {
	display: none;
}
tr.display {
	display: table-row;
}
th {
	border: solid 1px #808080;
}
td {
	padding: 2px;
	border: solid 1px #808080;
	font-family: Consolas;
}
.difference {
	background-color: #ffff00;
}
.unexist {
	background-color: #a0a0a0;
}
.parameter-name {
	word-break: keep-all;
}
.parameter-value {
	word-break: break-all;
}
/* vue-select */
#version {
	display: inline-block;
}
#version.v-select {
   min-width: 10em;
}
.vs__dropdown-option--selected {
  background-color: #a0a0a0 !important;
}
/* tab */
.tab .tab_ul {
	display: contents;
	/*display: flex;
	justify-content: left;*/
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: scroll;
	margin: 1% 1% 1% 1%;
	/*font-size: 130%;*/
}
::-webkit-scrollbar {
	display: none;
}
.tab .active {
	color: white;
	background-color: #0969da;
}
.tab ul li {
	display: inline-block;
	border-radius: 15px;
	list-style: none;
	padding: 5px 15px;
	text-align: center;
	background-color: #ddf4ff;
	margin: 0 .5em .5em 0
}
.tab ul :hover {
	cursor: pointer;
}
